*{
   background-color: rgb(0, 0, 0);
   color:rgb(255, 255, 255);
   margin: 0px;

}



tabs{
    position: absolute;
    margin-top: 50px;
    display: grid;
    width: 100vw;
    height: 75px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}
.tabButton{
    background-color: #161619;
    border-width: 0px;
    font-family: "Golos Text";
    font-weight: bold;
    font-size: 0px;
    cursor: pointer;
    
    
}
.tabButton:hover{
    background-color: #47474F;
}


projectsGallery{
    
    padding-top: 175px;
    padding-left: 8vw;
    padding-right: 8vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    
}
.projectThumbnail{
    background: #161619;
    background-color: #161619;
    object-fit: cover;
    width: 40vw;
    height: 40vh;
    cursor: pointer;
    
}

personalGallery{
    padding-top: 175px;
    padding-left: 8vw;
    padding-right: 8vw;
    gap: 15px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    justify-items: center;
}

#wide{
    grid-column: span 2;
}

.personalThumbnail{
    object-position: center top;
    width: 100%;
    height: 100%;
    object-fit:contain;
}


cap{
    display: inline-block;
    margin-top: -40vh;
    background-color: #161619;
    width: 40vw;
    height: 40vh;
    text-indent: 1vw;
    margin-bottom: 3vw;
    align-content: center;
    font-family: "Golos Text";
    font-size: 0px; 
    
}


process{
    
    padding-top: 175px;
    padding-left: 8vw;
    padding-right: 8vw;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    
}

.processImage{
    object-fit: cover;
    margin-bottom: 1.5vw;
    width: 80vw;
    height: 80vh;
}

.finalProject{
    width: 80vw;
    height: 80vh;
    object-fit: contain;

}


about{
    padding-top: 175px;
    padding-left: 40vw;
    padding-right: 40vw;
    display: grid;
    grid-template-columns: 1fr;
    
}

content{
    font-family: "Golos Text";
    font-size: 25px;
}
footer{
    margin-top: 8vh;
    margin-bottom: 2vh;
    font-family: "Golos Text";
    font-size: 10px;  
    text-align: center;
}




